<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Member to Dumbledore's Army</h3>
  </div>
    <div class="panel-body">
      <div>
        <div>
          <label>Member Name:</label>
          <br>
          <input #newName>
        </div>
        <div>
          <label>Member House:</label>
          <br>
          <input #newHouse>
        </div>
        <div>
          <label>Member Patronus:</label>
          <br>
          <input #newPatronus>
        </div>
        <button class="btn btn-block" (click)="submitForm(newName.value, newHouse.value, newPatronus.value); newName.value=''; newHouse.value=''; newPatronus.value=''">Add</button>
      </div>
    </div>
  </div>

  <div class="memberPage">
    <app-members></app-members>
  </div>
